body
{
	background-color: rgb(220,230,250);
	color: rgb(0,0,50);
	margin: 40px;
}

h1
{
	color: rgb(150,0,50);
	text-align: center;
}

p
{
	margin-left: 50px;
	text-align: justify;
}
img
{
	height: 500px;
	width: 500px;
}
