body
{
	background-color: black;
}
div
{
	width: 60%;
	background-color: rgb(45,255,255);
	margin: auto;
	padding: 10px;
}
h1
{
	text-align: center;
	color: darkblue
}


p
{text-align: center;
font-style: italic}

.centered {
   margin-left: auto;
   margin-right: auto;
   font-family:"courier new";
}

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
